.AppContent h3,h4,h1{
    margin:4px;
}

.AppContent{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding:10px;
    background-color: #cec5c5;
    box-shadow: 1px 1px 4px 4px grey;
}

.globalInformation{
    margin:0px auto;
}

.countrySelection{
    margin:0px auto;
}

.countrySelector{
    padding:10px;
    border-radius: 10px;

}

.countrySelectorButton{
    padding:10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 4px;
}

@media screen and (max-width:685px){
    .AppContent{
        grid-template-columns: 1fr;
    }
}